# Learning the fundamentals of pandas
#### Author: Alphonse Brandon

In [1]:
# Importing libraries and modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h4>Creating Objects in pandas

Creating a series and passing a list of values

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.045702 -0.699926 -0.653483  1.212250
2013-01-02 -0.860523  0.799498 -0.031784 -1.202830
2013-01-03 -0.159714  0.424093 -0.816893  1.758821
2013-01-04 -0.160221  1.396575  1.987583 -0.759012
2013-01-05 -0.981074 -1.881487  2.555706 -0.259840
2013-01-06  0.453347  2.179923  0.870543  0.151071