# Learning the fundamentals of pandas
#### Author: Alphonse Brandon

In [3]:
# Importing libraries and modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h4>Creating Objects in pandas

Creating a series and passing a list of values

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.241879  0.759868 -0.890722  0.620202
2013-01-02  0.145822  0.513743 -0.628044  0.159255
2013-01-03  2.162329 -0.099182 -0.249508 -1.268438
2013-01-04 -0.070470  1.574316 -2.608989 -1.812740
2013-01-05 -1.513000  1.700117  1.897296  1.648903
2013-01-06  0.754513 -0.582074  0.681169  0.695610

Creating a DataFrame and passing a dict of objects that can be converted into series like

In [7]:
df2 = pd.DataFrame({
    'A': 1,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype = 'float32'),
    'D': np.array([3]* 4, dtype = 'int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
    
})

df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo